.form {
    &-fields {

    }
    &-legend {
        font-size: 2rem;
        font-weight: 700;
        padding-bottom: 2.2rem;
    }
    &-field {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        
        &__input {
            padding: 1rem;
            border: 1px solid #000000;
            border-radius: 4px;
        }
        &__label {
            padding-bottom: 0.6rem;
            cursor: pointer;
        }
        &__textarea {
            padding: 1rem;
            font-family: inherit;
            border: 1px solid #000000;
            border-radius: 4px;
            resize: vertical;
            min-height: 12rem;
        }
        &__button {
            border: none;
            padding: 2rem;
            width: 100%;
            cursor: pointer;
            font-weight: 700;
            background-color: #e4e4e4;
            margin-top: .8rem;
            font-size: 1.6rem;
            font-family: inherit;

            &:hover {
                background-color: #dbdbdb;
            }
        }
    }
}